<div class="row">
        <div class="col-md-3">
                <sense-object qlik-id="aCCYH" object-class="halfHeight"></sense-object>
                <sense-object qlik-id="RJZZ" object-class="halfHeight"></sense-object>
        </div>

        <div class="col-md-9">
                <sense-object qlik-id="PEpsmp"></sense-object>
                <sense-object qlik-id="VfME" object-class="quarterHeight"></sense-object>
        </div>
</div>

<div class="row">
     <div class="col-md-6">
                <doc-list></doc-list>
    </div>
    <div class="col-md-6">
                <sense-object qlik-title="Review Notes" qlik-id="HXKP"></sense-object>
    </div>
</div>



<div class="row">
        <div class="col-sm-6">
                <simple-table user-field="IBM_User_Name" title-field="user_Title" email-field="IBM_Contact_Email" title="IBM Point of Contact"></simple-table>
        </div>
        <div class="col-sm-6">
                <simple-table user-field="Deloitte_User_Name" title-field="_Deloitte_user_Title" email-field="Deloitte_Email_Key" title="Deloitte Point of Contact"></simple-table>
        </div>
</div>