
<div class="row">
    <div class="col-sm-4">
        <sense-object qlik-id="RJZZ"></sense-object>
    </div>
    <div class="col-sm-4">
        <sense-object qlik-id="VfME"></sense-object>
    </div>
    <div class="col-sm-4">
        <sense-object qlik-id="aCCYH"></sense-object>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-header">
                    <h4>Review Documents</h4>
            </div>
            <div class="panel-body">
                    <div class="objectPlaceholder">
                            <dropdown-search search-placeholder="Search document" qlik-field="NAME"></dropdown-search>
                            <div class="docs">
                                <ul>
                                    <li ng-repeat="row in dash.docs">
                                            <a href="{{row.url}}" target="_blank">{{row.docname}} <i class="fa fa-file-pdf-o"></i></a>
                                    </li>
                                </ul>
                            </div>
                    </div>
            </div>
                
        </div>
    </div>
    
    <div class="col-md-4">
            <sense-object qlik-title="Review Notes" qlik-id="HXKP"></sense-object>  
    </div>

    <div class="col-md-4">
            <simple-table user-field="IBM_User_Name" title-field="user_Title" email-field="IBM_Contact_Email" title="IBM Point of Contact"></simple-table>

            <simple-table user-field="Deloitte_User_Name" title-field="_Deloitte_user_Title" email-field="Deloitte_Email_Key" title="Deloitte Point of Contact"></simple-table>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
            <sense-object qlik-id="PEpsmp"></sense-object>
    </div>
</div>