
<form ng-submit="dash.submit()">
    Enter text and hit enter:
    <input type="text" ng-model="dash.string" name="string" />
    <input type="submit" id="submit" value="Submit" />
    <pre>string={{dash.string}}</pre>
  </form>

<div class="row">
    <div class="col-sm-4">
        <sense-object qlik-id="JsVPe"></sense-object>
    </div>
    <div class="col-sm-4">
        <sense-object qlik-id="JARjh"></sense-object>
    </div>
    <div class="col-sm-4">
        <sense-object qlik-id="jTuCwkB"></sense-object>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
            <sense-object qlik-id="hRZaKk"></sense-object>  
    </div>

    <div class="col-md-6">
            <sense-object qlik-id="298bbd6d-f23d-4469-94a2-df243d680e0c"></sense-object>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <sense-object qlik-id="rJFbvG"></sense-object>
    </div>
</div>