
<form ng-submit="dash.submit()">
    Enter text and hit enter:
    <input type="text" ng-model="dash.string" name="string" />
    <input type="submit" id="submit" value="Submit" />
    <pre>string={{dash.string}}</pre>
  </form>

<div class="row">
    <div class="col-sm-4">
        <sense-object qlik-id="RJZZ"></sense-object>
    </div>
    <div class="col-sm-4">
        <sense-object qlik-id="VfME"></sense-object>
    </div>
    <div class="col-sm-4">
        <sense-object qlik-id="aCCYH"></sense-object>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <doc-list></doc-list>
    </div>
    
    <div class="col-md-4">
            <sense-object qlik-title="Review Notes" qlik-id="HXKP"></sense-object>  
    </div>

    <div class="col-md-4">
            <simple-table user-field="IBM_User_Name" title-field="user_Title" email-field="IBM_Contact_Email" title="IBM Point of Contact"></simple-table>

            <simple-table user-field="Deloitte_User_Name" title-field="_Deloitte_user_Title" email-field="Deloitte_Email_Key" title="Deloitte Point of Contact"></simple-table>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
            <sense-object qlik-id="PEpsmp"></sense-object>
    </div>
</div>