header.site-header {
    position: fixed; top: 0; left: 0; right: 0; z-index: 10;
    background-color: white;
    box-shadow: 1px 1px 10px;
    .topbar {
        padding: 15px;
        @include flexbox(); align-items: baseline; justify-content: space-between;
    }
    .brand {
        max-width: 80px;
    }
    button {
        font-size: 18px;
        &:hover {
            color: $ibmBlue;
        }
    }
}

.blueRow {
    background-color: $darkBlue; color: white; padding: 15px;
    @include flexbox(); align-items: center;
    .btn-primary {
        max-width: 320px; float: right;
    }
    .fa {
        margin-left: 10px;
    }
    .externalLink {
        flex: 1;
    }
}

// #CurrentSelections {
//     .buttons-end {
//         display: none;
//     }   
// }

.custom-currentS-wrap {
    display: inline-block; position: relative;
    .currentS {
        position: absolute;
        z-index: 999;
        top: 0;
        right: 15px;
        width: 400px;
        max-height: 400px;
        background-color: transparent;
        padding: 40px 15px 15px 15px;
        ul {
            background-color: white; width: 100%; text-align: left;
            position: relative; border-radius: 4px 0 4px 4px;
            box-shadow: 1px 1px 10px;
            li {
                list-style: none; display: block; position: relative;
                border-bottom: 1px solid #fafafa; padding: 15px;
                .theField {
                    background-color: $ibmBlue; color: rgb(233, 233, 233);
                    font-size: 14px; padding: 5px; 
                }
                .theSel {
                    display: block; margin-top: 5px;
                }
                .btn-close {
                    position: absolute; right: 15px; top: 15px; font-size: 18px; color: #999;
                    &:hover {
                        color: #333;
                    }
                }
                &:nth-of-type(even) {
                    background-color: rgb(238, 238, 238);
                }
                &:first-of-type {
                    border-radius: 4px 4px 0 0;
                }
                &:last-of-type {
                    border-radius: 0 0 4px 4px;
                    .fa {
                        margin-right: 10px;
                    }
                }
            }

            &:before {
                position: absolute;
                top: -6px;
                right: 0px;
                display: inline-block !important;
                border-right: 7px solid transparent;
                border-bottom: 7px solid white;
                border-left: 7px solid transparent;
                content: '';
            }
        }
    }
}

.selButton {
    position: relative; margin-right: 30px;
    .badge {
        position: absolute; right: -5px; top: -15px;
        background-color: $ibmBlue;
    }
}

#navigation {
    position: fixed; left: 0; top: 128px; bottom: 0; width: 50px;

    z-index: 999; background-color: black;
    // @include transform(translateX(-100%));
    @include transition(width .3s);

    .nav-links {
        li {
            margin: 0; padding: 0; overflow: hidden;
            &.active {
                a { background-color: rgb(114, 114, 114); }
            }
            a {
                white-space: nowrap;
                display: block; padding: 15px;
                font-size: 22px; line-height: 32px; color: white;
                @include transition(background-color .3s, color .3s);
                text-decoration: none;
                .nav-label {
                    margin-left: 15px;
                }

                &:hover {
                    background-color: rgb(36, 36, 36);
                }
            }
        }
    }
    &.slideIn {
        // @include transform(translateX(0));
        width: 250px;
    }
    #lastRelaod {
        display: none;
        position: absolute;
        bottom: 15px;
        left: 15px;
        text-align: left;
        color: white;
        border-right: 0;
        font-size: 16px;
    }
}


#filters {
    position: fixed; right: 0; top: 128px; bottom: 0; width: 250px;
    z-index: 999; background-color: black;
    padding: 15px;
    @include transform(translateX(100%));
    @include transition(transform .3s);
    h3 {
        color: white;
    }
    .filter {
        > li {
            margin: 0; padding: 0; 
            margin-bottom: 15px;
        }
    }
    &.slideIn {
        @include transform(translateX(0));
    }
    .custom-dropdown {
        position: relative;
        #simple-dropdown {
            width: 100%; text-align: left; position: relative;
                .fa {
                    position: absolute; right: 15px; top: 10px;
                }
        }
        .dropdown {
            max-height: 0; overflow: auto; display: block; margin: 0;
            padding: 0; right: 0; top: 34px; left: 0; position: absolute; 
            z-index: 9999;
            background: white;  border-radius: 4px;
            @include transition(max-height .3s);
            li a {
                color: black; padding: 5px 10px; display: block;
                @include transition(background-color .3s);
                &:hover {
                    background-color: rgb(223, 223, 223);
                }
            }
            &.open {
                max-height: 500px;
            }
        }
    }
 }
 #lastRelaod {
    display: inline-block;
    border-left: 3px solid $darkBlue;
    padding-left: 15px;
    margin-left: 30px;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    width: 20px; margin: 15px;
    .bar {
        display: block;
        width: 20px;
        height: 3px;
        background-color: white;
        margin: 5px auto;
        @include transition(transform .3s, width .3s, background-color .3s);
    }
      
    &.active :first-child{
        transform:
          rotate(45deg)
          translate(6px, 6px);
    }
    &.active :nth-child(2){width: 0;}
    &.active :last-child{
        transform:
          rotate(-45deg)
          translate(5px, -5px);
    }
    &:hover {
        .bar {
            background-color: $ibmBlue;
        }
    }
}

.lui-popover-container, .lui-dialog-container  {
    position: fixed !important;
    z-index: 9999;
    top: 158px !important;

    .lui-popover__arrow {
        display: none !important;
   
    }
 }
