header.site-header {
    position: fixed; top: 0; left: 0; right: 0; z-index: 999;
    background-color: black;
    background-image: url(/assets/images/background.png);
    background-position: left;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,.5);
    .topbar {
        @include flexbox(); justify-content: space-between;
        color: white; height: 60px;
        .actions .btn-header {
            margin-left: 15px;
            &:hover {
                color: $orange;
            }
        }
    }
    .brand {
        width: 250px; //sidebar width;
        img {
            max-width: 100px;
        }
    }
    #appTitle {
        margin-left: 15px;
    }
    .titles {
        @include flexbox(); align-items: center;
        img { 
            margin: 0 15px;
        }
    }
    .actions {
        flex: 1;
        @include flexbox(); justify-content: flex-end;
        align-items: center;
    }
    #lastRelaod {
        margin: 0 15px;
        font-size: 13px;
        line-height: 16px;
        font-style: italic;
        border-left: 1px solid #767676;
        padding-left: 15px;
    }
}

#CurrentSelections {
    @include transition(margin-left .3s);
    margin-left: 60px;
    &.move {
        margin-left: 250px;
    }
    .qv-panel-current-selections, .buttons .qv-subtoolbar-button, .buttons-end .qv-subtoolbar-button {
        background-color: $blue;
        &.active {
            color: white;
        }
    }
    .buttons-end {
        div[tid="toggleGlobalSearchButton"] {
            display: none;
        }
    }   
}

.custom-currentS-wrap {
    display: inline-block; position: relative;
    .currentS {
        position: absolute;
        z-index: 999;
        top: 0;
        right: 15px;
        width: 400px;
        max-height: 400px;
        background-color: transparent;
        padding: 40px 15px 15px 15px;
        ul {
            background-color: white; width: 100%; text-align: left;
            position: relative; border-radius: 4px 0 4px 4px;
            box-shadow: 1px 1px 10px;
            li {
                list-style: none; display: block; position: relative;
                border-bottom: 1px solid #fafafa; padding: 15px;
                .theField {
                    background-color: $turquoise; color: rgb(233, 233, 233);
                    font-size: 14px; padding: 5px; 
                }
                .theSel {
                    display: block; margin-top: 5px;
                }
                .btn-close {
                    position: absolute; right: 15px; top: 15px; font-size: 18px; color: #999;
                    &:hover {
                        color: #333;
                    }
                }
                &:nth-of-type(even) {
                    background-color: rgb(238, 238, 238);
                }
                &:first-of-type {
                    border-radius: 4px 4px 0 0;
                }
                &:last-of-type {
                    border-radius: 0 0 4px 4px;
                    .fa {
                        margin-right: 10px;
                    }
                }
            }

            &:before {
                position: absolute;
                top: -6px;
                right: 0px;
                display: inline-block !important;
                border-right: 7px solid transparent;
                border-bottom: 7px solid white;
                border-left: 7px solid transparent;
                content: '';
            }
        }
    }
}

.selButton {
    position: relative; margin-right: 30px;
    .badge {
        position: absolute; right: -5px; top: -15px;
        background-color: $blue;
    }
}

#navigation {
    position: fixed; left: 0; top: 60px; bottom: 0; width: 60px;
    z-index: 999; background-color: black;
    box-shadow: 6px 5px 11px rgba(0, 0, 0, 0.3);
    // @include transform(translateX(-100%));
    @include transition(width .3s);
    > ul {
        @include transition(opacity .3s); opacity: .5;
        ul {
            @include transition(transform .3s, opacity .3s, max-height .75s);
            max-height: 0;
            transform: translateX(100%); opacity: 0; 
        }
    }
    .nav-links {
        li {
            margin: 0; padding: 0; overflow: hidden;
            .groupTitle {
                @include flexbox(); align-items: center;  padding-left: 15px;
                img.group-icon {
                    width: 30px; height: auto;
                }
                h3 {
                    padding-left: 15px;
                    color: $grey1;
                }
            }
            
            &.active {
                a {  background-color: $turquoise; color: white; }
            }
            a {
                white-space: nowrap;
                display: block; padding: 0 0 0 30px;
                font-size: 16 px; line-height: 32px; color: white;
                @include transition(background-color .3s, color .3s);
                text-decoration: none;
                &:hover {
                    background-color: rgb(36, 36, 36);
                }
                &.isDisabled {
                    color: currentColor;
                    cursor: not-allowed;
                  }
            }
        }
    }
    &.slideIn {
        // @include transform(translateX(0));
        width: 250px;
        > ul {
            opacity: 1;
            ul {
                transform: translateX(0); opacity: 1;
                max-height: 600px;
            }
        }
    }
}

.qv-global-selections {
    left: 50px;
    top: 98px;
    z-index: 999;
    height: calc(100vh - 98px) !important;
    .qv-gs-section {
        height: 75%;
    }
    .qv-gs-section[tid="globalSelections.bottomSection"] {
        display: none;
    }
}

#filters {
    position: fixed; right: 0; top: 127px; bottom: 0; width: 250px;
    z-index: 998; background-color: black;
    padding: 15px;
    @include transform(translateX(110%));
    @include transition(transform .3s);
    h3 {
        color: white;
    }
    .filter {
        > li {
            margin: 0; padding: 0; 
            margin-bottom: 15px;
        }
    }
    &.slideIn {
        @include transform(translateX(0));
    }
    .custom-dropdown {
        position: relative;
        #simple-dropdown {
            width: 100%; text-align: left; position: relative;
                .fa {
                    position: absolute; right: 15px; top: 10px;
                }
        }
        .dropdown {
            max-height: 0; overflow: auto; display: block; margin: 0;
            padding: 0; right: 0; top: 34px; left: 0; position: absolute; 
            z-index: 9999;
            background: white;  border-radius: 4px;
            @include transition(max-height .3s);
            li a {
                color: black; padding: 5px 10px; display: block;
                @include transition(background-color .3s);
                &:hover {
                    background-color: rgb(223, 223, 223);
                }
            }
            li.S a {
                background-color: #61a729; color: white;
            }
            li.O a {
                background-color: white;
            }
            li.X a {
                background-color: #999; color: white;
            }
            &.open {
                margin-right: 5px;
                max-height: 300px;
            }
        }
    }
 }

.hamburger {
    display: inline-block;
    cursor: pointer;
    width: 30px; margin: 5px 15px; height: 26px;
    .bar {
        display: block;
        width: 20px;
        height: 3px;
        background-color: $grey1;
        margin: 5px auto;
        @include transition(transform .3s, width .3s, background-color .3s);
    }
      
    &.active :first-child{
        transform:
          rotate(45deg)
          translate(6px, 6px);
    }
    &.active :nth-child(2){width: 0;}
    &.active :last-child{
        transform:
          rotate(-45deg)
          translate(5px, -5px);
    }
    &:hover {
        .bar {
            background-color: white;
        }
    }
}

.lui-popover-container, .lui-dialog-container {
    position: fixed !important;
    z-index: 9999;
 }


 #bookmarksDD {
     position: absolute; 
     right: 0; width: 400px;
     background-color: black; 
     max-height: 0; @include transition(max-height .3s);
     overflow: hidden; z-index: 999; color: white;
     &.reveal {
        max-height: 500px;
     }
     ul {
        padding: 15px; padding-bottom: 0;
        li {
            margin-bottom: 15px; border-bottom: 1px solid #333; padding-bottom: 15px;
            position: relative; padding-right: 30px;
            a {
                color: white; display: block;
                span {
                    display: block;
                    font-size: 14px; color: #b9b9b9;
                }
                &:hover {
                    color: $orange;
                }
            }
            .remove {
                background: transparent; border: 0;
                position: absolute; right: 0; top: 15px;
                color: #767676;
                &:hover {
                    color: red;
                }
            }
            &:last-of-type {
                border-bottom: 1px solid white;
            }
        }

        #createBM {
            .btn {
                padding: 7px; border-width: 1px; background-color: $turquoise;
            }
        }
        .btn-primary {
            width: 100%; margin: 5px auto;
            &:hover {
                background-color: darken($turquoise,10%);
            }
        }
        #closeBookmakrs {
            display: block; margin: 15px auto;
        }
     }
 }