header.site-header {
    position: fixed; top: 0; left: 0; right: 0; z-index: 10;
    background-color: white;
    box-shadow: 1px 1px 10px;
    .brand {
        margin: 15px 0;
        img {
            max-width: 100px;
            margin-right: 30px;
        }
        span {
            font-size: 18px;
        }
    }
    button {
         font-size: 18px;
        &:hover {
            color: $ibmBlue;
        }
    }
}

.filtersRow {
    background-color: $darkBlue; padding: 15px;
    .btn-primary {
        width: 100%;
    }
    .fa {
        margin-left: 10px;


    }
}

#CurrentSelections {
    .buttons-end {
        display: none;
    }   
}

#navigation {
    position: fixed; right: 0; top: 67px; bottom: 0; width: 250px;
    z-index: 999; background-color: black;
    @include transform(translateX(100%));
    @include transition(transform .3s);

    .nav-links {
        li {
            margin: 0; padding: 0;
            &.active {
                a { font-weight: 700; background-color: rgba($ibmBlue,.2); }
            }
            a {
                display: block; padding: 15px;
                font-size: 18px; line-height: 32px; color: white;
                @include transition(background-color .3s, color .3s);
                text-decoration: none;
                &:hover {
                    background-color: #333;
                }
            }
        }
    }
    &.slideIn {
        @include transform(translateX(0));
    }
    #lastRelaod {
        display: none;
        position: absolute;
        bottom: 15px;
        left: 15px;
        text-align: left;
        color: white;
        border-right: 0;
        font-size: 16px;
    }
}


#sidebarMenu {
    position: fixed; left: 0; top: 171px; bottom: 0; width: 250px;
    z-index: 999; background-color: black;
    @include transform(translateX(-100%));
    @include transition(transform .3s);
    h3 {
        color: white;
    }
    .filter {
        li {
            margin: 0y; padding: 0; 
            &.nativeFilters {
                margin-bottom: 15px;
            }
        }
    }
    &.slideIn {
        @include transform(translateX(0));
    }
    .custom-dropdown {
        width: 100%;
        .dropdown-toggle {
            width: 100%; display: block; text-align: left;
        }
        .dropdown-menu {
            max-height: 500px; overflow: auto;
            li a {
                color: black;
            }
        }
    }
 }
// #sidebarMenu {
//     position: fixed; right: 0; top: 67px; bottom: 0;
//     z-index: 999; width: 300px;
//     background-color: black;
//     padding: 15px;
//     @include transform(translateX(100%));
//     @include transition(transform .3s);
//     h3 {
//         color: white;
//     }
//     &.slideIn {
//         @include transform(translateX(0));
//     }

//     .custom-dropdown {
//         width: 100%;
//         .dropdown-toggle {
//             width: 100%; display: block; text-align: left;
//         }
//         .dropdown-menu {
//             max-height: 500px; overflow: auto;
//             li a {
//                 color: black;
//             }
//         }
//     }
// }

#lastRelaod {
    display: inline-block;
    border-right: 3px solid $darkBlue;
    padding-right: 15px;
    margin-right: 30px; margin-top: 15px;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    width: 32px;
    .bar {
        display: block;
        width: 32px;
        height: 3px;
        background-color: black;
        margin: 5px auto;
        @include transition(transform .3s, width .3s, background-color .3s);
    }
      
    &.active :first-child{
        transform:
          rotate(45deg)
          translate(6px, 6px);
    }
    &.active :nth-child(2){width: 0;}
    &.active :last-child{
        transform:
          rotate(-45deg)
          translate(5px, -5px);
    }
    &:hover {
        .bar {
            background-color: $ibmBlue;
        }
    }
}

.lui-popover-container, .lui-dialog-container  {
    position: fixed !important;
    z-index: 9999;
    top: 158px !important;

    .lui-popover__arrow {
        display: none !important;
   
    }
 }
