// mobile - xs
@media (max-width:767px) {
    .kpiObject {
        height: 100px;
    }
    .objectPlaceholder {
        height: 250px;
    }
    .docs {
        max-height: 180px;
    }
    .panel .chart-icons {
        opacity: 1;
    }
    #viewWrap {
        padding-top: 235px;
    }
    #lastRelaod {
        font-size: 14px; 
        margin-right: 15px;
    }
}

// sm
@media (min-width:768px) {
    .kpiObject {
        height: 100px;
    }
    .objectPlaceholder {
        height: 350px;
    }
}

// md
@media (min-width:992px) {
    .kpiObject {
        height: 200px;
    }
    .objectPlaceholder {
        height: 400px;
    }

}

// lg
@media(min-width:1200px) {

}