
body {
    font-family: 'Roboto', sans-serif !important; font-size: 15px;
    background-color: #f4f4f4;
    a {
        color: $lightBlue; font-weight: 500;
    }
}

ul {
    margin: 0;
    li {
        list-style: none;
    }
}

.panel {
    border: 0;
    padding: 1rem; margin-bottom: 30px;
    box-shadow: 6px 5px 11px rgba(228, 228, 228, 0.5);
    .panel-header {
        h3 {
            -webkit-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.objectPlaceholder {
    width: 100%;
    height: 500px;
    @include transition(opacity 1s);
    opacity: 1;


    article.qv-object {
        header.qv-object-header {
            display: none;
        }
    }

    &.animateOut {
        opacity: 0;
    }
}

.simpleObject {
    width: 100%;
    height: 300px;
    &.kpiObject {
        height: 200px;
    }
    &.filterObject {
        height: 40px;
    }
}




button, a {
    @include transition(background-color .3s, color .3s);
}


.modal-lg {
    width: 90%;
}

.modal-body {
    .objectPlaceholder {
        height: 600px;
    }
}

.btn-clean {
    background-color: transparent; border: 0; box-shadow: none;
}

.btn-chart {
    background-color: #f4f4f4; border: 0;box-shadow: none;
    &:hover {
        background-color: $ibmBlue; color: white;
    }

}


.panel {
    color: $darkBlue;
}




.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    >li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
}



.table-wrap {
    button.toggle-table {
        display: block;
        margin: 0 auto 30px;
    }
}