
body {
    font-family: Arial, Helvetica, sans-serif !important; font-size: 15px;
    background-color: #E0E6E6;
    a {
        color: $turquoise; font-weight: 500;
        @include transition(color .3s);
        text-decoration: none;
        &:hover {
            text-decoration: none; 
        } 
    }
}

.kpi-box.panel {
    padding: 15px;

}

.main-kpi {
    width: 100%;
    height: 100px;
    .qv-footer-wrapper {
        position: absolute;
        right: 10px; bottom: 0; font-size: 16px;
    }
}
.change-kpis {
    @include flexbox();
    .change-kpi {
        height: 40px; flex: 1;
    }
}

.asset-name {
    font-size: 24px;
    color: $blue;
    font-weight: 700;
}

.btn {
    @include transition(background-color .3s, color .3s); display: block;
    padding: 10px; border: 0;
}

.btn.focus, .btn:focus, .btn:hover {
    color: inherit; text-decoration: none;
}

.btn-primary {
    background-color: $turquoise; color: white; border: 0; box-shadow: none;
    .fa {
        margin-left: 10px;
    }
    &:hover, &:focus {
        border: 0;
        background-color: darken($turquoise,10%);
    }
}

.btn-clear {
    background-color: transparent;
    i {
        padding-right: 10px;
    }
}



#viewWrap {
    @include transition(margin-left .3s);
    margin-left: 65px;
    padding-top: 120px;
    &.move {
        margin-left: 250px;
    }
}

ul {
    margin: 0;
    li {
        list-style: none;
    }
}

.margin-bottom {
    margin-bottom: 30px;
}

.panel {
    border: 0; margin-bottom: 30px;
    box-shadow: 6px 5px 11px rgba(188, 188, 188, 0.5);
    position: relative;
    .panel-header {
        color: black; padding: 15px 15px 0;
        h3 {
            -webkit-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .chart-icons {
        position: absolute; top: 0; left: 0; right: 0;
        .btns-wrap {
            float: right;
        }
    }
    .btn-chart {
        @include opacity(0);
        @include transition(opacity .3s);
    }
    &:hover {
        .btn-chart {
            @include opacity(1);
        }
    }
}

.modal {
    .objectPlaceholder {
        height: 500px;
    }
}

.objectPlaceholder {
    width: 100%;
    @include transition(opacity 1s);
    @include opacity(1);
    article.qv-object {
        header.qv-object-header {
            display: none;
        }
    }
    &.animateOut {
        @include opacity(0);
    }

    &.full-height {
        height: 600px;
    }
}

.naked-kpi {
    color: black;
    .value {
        font-size: 24px;
    }
}

.simpleObject {
    width: 100%;
    height: 300px;
    &.kpiObject {
        height: 200px;
    }
    &.filterObject {
        height: 35px;
    }
}
.filter-row {
    @include flexbox();
    margin-bottom: 30px;
    simple-object {
        flex: 1; margin-right: 10px;
    }
}

.panel-contact {
    position: relative;
    background-color: $turquoise; color: white;
    .fa-user {
        position: absolute; right: 0; font-size: 180px; opacity: .25;
    }
    h3 {
        color: white;
    }
    .contact-name {
        font-size: 18px;
    }
    a {
        font-weight: bold; color: white;
    }
}

button, a {
    @include transition(background-color .3s, color .3s);
}


.modal-lg {
    width: 90%;
}


.btn-clean {
    background-color: transparent; border: 0; box-shadow: none;
}

.btn-chart {
    background-color: transparent; border: 0; box-shadow: none;
    @include transition(font-size .3s);
    &:hover {
        color: $turquoise;
    }
}


.dropdown-list-search-container {
    position: relative;
    .fa-search {
        position: absolute; left: 15px; top:5px;
        color: #555;
    }
    .btn-clean {
        position: absolute; top: 7px; right: 15px;
        color: rgb(190, 190, 190);
    }
    .form-control {
        border-radius: 4px;
       font-style: italic;
        margin-bottom: 15px; 
        &.active {
            border-color: $turquoise;
            border-radius: 4px 4px 0 0;
            border-bottom: 1px solid;
        }
    }
}
.search-results {
    max-height: 0; opacity: 0; overflow: hidden;
    @include transition(max-height .3s, opacity .3s);
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    border: 1px solid $turquoise;
    border-radius: 0 0 4px 4px;

    
    border-top: 0;
    >li>a {
        display: block;
        padding: 10px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        background-color: white;
        border-bottom: 1px solid #e6e6e6;
        color: #333;

        @include transition(background-color .3s);

        &:hover {
            background-color: lighten($turquoise, 35%);
        }
    }
    li:last-of-type a {
        border-radius: 0 0 4px 4px;
    }
    &.show {
        opacity: 1; max-height: 500px;
    }
}


.docs {
    overflow-y: scroll; max-height: 300px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    a {
        display: block; padding: 15px; background-color: white; 
        border-bottom: 1px solid #f2f2f2;
        
        @include transition(background-color .3s);
        position: relative;
        &:hover {
            background-color: #f4f4f4;
        }
        .fa {
            position: absolute; right: 5px; top: 18px;
        }
    }
}


.table-wrap {
    button.toggle-table {
        display: block;
        margin: 0 auto 30px;
    }
}

#homepageBg {
    z-index: 0;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/assets/images/Homepage.jpg);
}
#homepageContent {
    position: relative;
    z-index: 1;
    color: white;
}