@import 'variables';


body {
    background-color: $darkBlue;
    color: white;

    font-family: 'Roboto', sans-serif !important;

    a {
        color: $lightBlue; font-weight: 500;
    }
}


.objectPlaceholder {
    width: 100%;
    height: 400px;
}

