
<!-- Simple dropdown -->
<div class="custom-dropdown" >
        <button type="button" class="btn btn-default" id="simple-dropdown" ng-click="fd.openDropdown = !fd.openDropdown">
                {{fd.fieldName}} <i class="fa fa-caret-down"></i>
                <!-- {{fd.activeSelection}} -->
        </button>
        

        <ul class="dropdown" aria-labelledby="simple-dropdown" ng-class="{'open': fd.openDropdown}">
                <dropdown-search qlik-field="{{fd.fieldName}}"></dropdown-search>
                <li ng-repeat="row in fd.rows"><a href ng-click="fd.applySelection(row.qText)">{{row.qText}}</a></li>
        </ul>
</div>