<div div class="panel">
    <div class="panel-header">
        <div class="row">
            <div class="col-xs-9">
                <h3>{{so.title}}</h3>
            </div>
            <div class="col-xs-3 text-right">
                    <button class="btn btn-default chart-tool" ng-click="so.exportToExcel()"><i class="fa fa-download"></i></button>
                    <button class="btn btn-default chart-tool hidden-xs" ng-click="so.expand()"><i class="fa fa-expand"></i></button>
            </div>
        </div>
        
    </div>
        <div class="panel-body viz-panel-body">
            <div class="objectPlaceholder" id="{{so.qlikId}}"></div>
        </div>
</div>