<div div class="panel">
        <div class="chart-icons text-right">
                <button class="btn btn-chart" ng-click="so.exportToExcel()"><i class="fa fa-download"></i></button>
                <button class="btn btn-chart hidden-xs" ng-click="so.expand()"><i class="fa fa-expand"></i></button>
        </div>
    <div class="panel-header">
                <h4>{{so.title}}</h4>
    </div>
        <div class="panel-body viz-panel-body">
            <div class="objectPlaceholder" id="{{so.qlikId}}"></div>
        </div>
</div>