<div class="filter-row">
        <!-- <simple-object object-id="98fea3b5-e2a6-468e-809c-82518c48218c" object-class="filterObject"></simple-object> -->
        <!-- Replace with VizLib Filter extension on their server -->
        <simple-object object-id="TJUyw" object-class="filterObject"></simple-object>
        <simple-object object-id="48f07d86-afc1-4407-a1a0-a6f99b5f0a05" object-class="filterObject"></simple-object>
        <simple-object object-id="mMRW" object-class="filterObject"></simple-object>
        <simple-object object-id="07d693d7-9bb3-4b8f-9902-c0e977f5f4cf" object-class="filterObject"></simple-object>
        <simple-object object-id="e6be1b41-2a09-4c0d-bab9-5302519a0355" object-class="filterObject"></simple-object>
</div>
<sense-object qlik-id="crNJxk" object-class="full-height"></sense-object>