<div class="filter-row">
    <!-- <simple-object object-id="98fea3b5-e2a6-468e-809c-82518c48218c" object-class="filterObject"></simple-object> -->
    <!-- Replace with VizLib Filter extension on their server -->
    <simple-object object-id="TJUyw" object-class="filterObject"></simple-object>
    <simple-object object-id="48f07d86-afc1-4407-a1a0-a6f99b5f0a05" object-class="filterObject"></simple-object>
    <simple-object object-id="mMRW" object-class="filterObject"></simple-object>
    <simple-object object-id="07d693d7-9bb3-4b8f-9902-c0e977f5f4cf" object-class="filterObject"></simple-object>
    <simple-object object-id="e6be1b41-2a09-4c0d-bab9-5302519a0355" object-class="filterObject"></simple-object>
</div>


            <div id="assetname" ng-if="occ.currentSelectionsService.assetName"> 
                    <h3 class="asset-name">{{occ.currentSelectionsService.assetName}}</h3>
            </div>
            <naked-kpi object-id="6ecb7bca-7eae-41d0-b44b-816dc4a95f30"></naked-kpi>

<div class="row">
    <div class="col-md-3 kpi-col">
        
        
        <!-- <simple-object object-id="6ecb7bca-7eae-41d0-b44b-816dc4a95f30" object-class=""></simple-object> -->
        <kpi-box main-kpi="BZpb" change-kpi-id="['1cdb030b-233a-4718-8f27-b076accfb3ae','ae6570e4-4d57-4bf8-854d-ac0b32e944f3']"></kpi-box>
    </div>
    <div class="col-md-9">
        <div class="row">
                <div class="col-sm-6">
                    <sense-object qlik-id="a8d688a0-df68-4038-86bd-7c14531a7888"></sense-object>
                </div>
                <div class="col-sm-6">
                    <sense-object qlik-id="a1c375cd-0dfa-4d7f-8721-1e9fa9984b26"></sense-object>
                </div>
        </div>
            
        <div class="row">
                <div class="col-sm-6">
                    <sense-object qlik-id="0c9d050f-7f08-4294-893c-51fc496cb779"></sense-object>
                </div>
                <div class="col-sm-6">
                    <sense-object qlik-id="3b973fd4-8fec-4c8e-8d61-38de75e93dbc"></sense-object>
                </div>
        </div>
            
        <div class="row">
                    <div class="col-sm-6">
                        <sense-object qlik-id="f1679dd0-f4dc-44f2-bed4-ac7a2a27cbd4"></sense-object>
                    </div>
                    <div class="col-sm-6">
                        <sense-object qlik-id="d3b4dd99-de1b-4e7f-bdc7-c84af6c39ce6"></sense-object>
                    </div>
        </div>
            
        <div class="row">
                    <div class="col-sm-12">
                        <sense-object qlik-id="98507bd5-6475-4b8b-8def-2b5678c78973"></sense-object>
                    </div>
        </div>
            
    </div>
</div>