<div class="dropdown-list-search-container">
    <i class="fa fa-search"></i>
    <input ng-class="{'active' : $ctrl.showSearch}" type="text" class="form-control" placeholder="{{$ctrl.searchPlaceholder}}" ng-change="$ctrl.searchFilterList()" ng-model="$ctrl.searchText" name="searchFilterList" />
    <button class="btn-clean" ng-click="$ctrl.closeSearch()"><i class="fa fa-times"></i></button>
    <!-- jQuery -->
    <!-- <div class="qs-search-results"></div> -->

    <!-- AngularJS -->
    <ul class="search-results" ng-class="{'show' : $ctrl.showSearch}">
      <li ng-repeat="match in $ctrl.matches track by $index" ng-click="$ctrl.selectField(match)"><a href>{{match}}</a></li>
    </ul>
</div>
