<header class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                    <div class="brand">
                        <img src="/assets/images/IBM-Logo.png" />
                        <span class="view-title">Name of the App - {{th.pageTitle}}<span ng-if="th.currentSelectionsService.noOfSel === 1"> for {{th.currentSelectionsService.clientName}}</span>
                    </div>
            </div>  
                
            <div class="col-xs-8 text-right">
                <reload-time></reload-time>
                <!-- <button class="btn-clean" ng-click="th.toggleSidebar()"><i class="fa fa-filter"></i></button> -->

                <button class="btn-clean" ng-click="th.toggleSidebar()"><i class="fa fa-filter fa-2x"></i></button>
                    
            </div>
        </div>
    </div>

    <div id="CurrentSelections"></div>
    <div class="row filtersRow">
        <div class="col-md-2 col-md-offset-10">
                <a ng-href="https://strueview2.deloitte.com/#/my-inspections/selfAssessment/inspections" target="_blank" class="btn btn-primary">Data Submission Portal <i class="fa fa-external-link"></i></a>
        </div>
    </div>
    
</header>

<!-- <div id="sidebarMenu" class="left-slide-menu" ng-class="{'slideIn' : th.sidebarIn }">
    <h3>Custom Dropdowns</h3>
    <filter-dropdown field-name="Case Owner"></filter-dropdown>
    <filter-dropdown field-name="Priority"></filter-dropdown>
</div> -->
<div id="navigation" ng-class="{'slideIn' : th.navigation }">
        <div class="hamburger" ng-class="{'active': th.navigation }" ng-click="th.toggleNav()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
        </div>
        <ul class="nav-links">
                <li ui-sref-active="active">
                    <a ui-sref="review-status">
                        <span><i class="fa fa-edit"></i><span class="nav-label">Review Status</span></span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="another-view">
                        <span><i class="fa fa-eye"></i><span class="nav-label">Another View</span></span>
                    </a>
                </li>
        </ul>
        <reload-time></reload-time>
</div>

<div id="filters" ng-class="{'slideIn' : th.sidebarIn }">
    <ul class="filter">
        <h3></h3>
        <li class="">
            <filter-dropdown field-name="Unit_Name"></filter-dropdown>
        </li>
        <li class="">
            <filter-dropdown field-name="Evaluation_Type"></filter-dropdown> 
        </li>
    </ul>
</div> 