<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="brand">
                        <img src="/assets/images/lra_logo.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-2 text-right">
                
                <button class="clean-btn" ng-click="th.toggleSidebar()"><i class="fa fa-filter"></i></button>
            </div>
        </div>
    </div>
</header>

<div id="sidebarMenu" class="left-slide-menu" ng-class="{'slideIn' : th.sidebarIn }">
    <div id="nativeFilters" style="height: 300px;"></div>
</div>


<div id="lastRelaod">{{ th.relaodTime | date:"MM/dd/yyyy 'at' h:mma" }}  </div>