<header class="site-header">
    <div class="topbar">
        <div class="brand">
            <img class="img-responsive" src="/assets/images/IBM-Logo.png" />
        </div>
                
        <div class="actions">
                <div class="custom-currentS-wrap" ng-mouseover="showS=true" ng-mouseleave="showS=false">
                        <button type="button" class="btn-clean selButton">Current Selections <i class="fa fa-angle-down"></i><span class="badge" ng-if="th.currentSelectionsService.numberOfSelections">{{th.currentSelectionsService.numberOfSelections}}</span></button>
                        <div class="currentS" ng-show="showS && th.currentSelectionsService.numberOfSelections">
                            <ul>
                                <li ng-repeat="selection in th.currentSelectionsService.selections">
                                    <span class="theField">{{selection.qField}}</span><span class="theSel">{{selection.qSelected}}</span>
                                <button ng-click="th.currentSelectionsService.clearSelection(selection.qField)" class="btn-clean btn-close"><i class="fa fa-close" ></i></button>
                                </li>

                                <li class="text-center"><button class="btn-clean" ng-click="th.currentSelectionsService.clearAll()"><i class="fa fa-refresh"></i>Clear All Selections</button></li>
                            </ul>
                        </div>
                </div>
                <button type="button" class="btn-clean" ng-click="th.toggleSidebar()">Filters <i class="fa fa-filter"></i></button>
        </div>
    </div>

    <!-- Using custom, current selections instead -->
    <!-- <div id="CurrentSelections"></div> -->

    <div class="blueRow">
        <div id="appTitle">
            {{th.appTitle}}
        </div>
        <div class="page-title">{{th.pageTitle}}</div>
        <div class="clientName" ng-if="th.currentSelectionsService.noOfSel === 1"> 
            for {{th.currentSelectionsService.clientName}}
        </div>

        <div id="lastRelaod">
            Status as of:
            {{ th.relaodTime | date:"MM/dd/yyyy 'at' h:mma" }}
        </div>

        <div class="externalLink">
                <a ng-href="https://strueview2.deloitte.com/#/my-inspections/selfAssessment/inspections" target="_blank" class="btn btn-primary">Data Submission Portal <i class="fa fa-external-link"></i></a>
        </div>
    </div>
    
</header>

<!-- <div id="sidebarMenu" class="left-slide-menu" ng-class="{'slideIn' : th.sidebarIn }">
    <h3>Custom Dropdowns</h3>
    <filter-dropdown field-name="Case Owner"></filter-dropdown>
    <filter-dropdown field-name="Priority"></filter-dropdown>
</div> -->
<div id="navigation" ng-class="{'slideIn' : th.navigation }">
        <div class="hamburger" ng-class="{'active': th.navigation }" ng-click="th.toggleNav()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
        </div>
        <ul class="nav-links">
                <li ui-sref-active="active">
                    <a ui-sref="review-status">
                        <span><i class="fa fa-edit"></i><span class="nav-label">Review Status</span></span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="another-view">
                        <span><i class="fa fa-eye"></i><span class="nav-label">Another View</span></span>
                    </a>
                </li>
        </ul>
        <reload-time></reload-time>
</div>

<div id="filters" ng-class="{'slideIn' : th.sidebarIn }">
    <ul class="filter">
        <h3></h3>
        <li class="">
            <filter-dropdown field-name="Unit_Name"></filter-dropdown>
        </li>
        <li class="">
            <filter-dropdown field-name="Evaluation_Type"></filter-dropdown> 
        </li>
    </ul>
</div> 