<div class="row">
        <!-- kpis -->
    <div class="col-md-6">
            <!-- high priority -->
            <sense-object qlik-id="jTuCwkB"></sense-object>
    </div>
    <div class="col-md-6">
            <!-- medium -->
            <sense-object qlik-id="JARjh"></sense-object>
    </div>
</div>
<div class="row">
        <!-- charts -->
        <div class="col-md-6">
                <!-- line -->
                <sense-object qlik-id="xfvKMP"></sense-object>
        </div>
        <div class="col-md-6">
                <!-- pie -->
                <sense-object qlik-id="PAppmU"></sense-object>
        </div>
</div>