<div class="panel kpi-panel">
        <div class="row">
                        <!-- kpis -->
                        <div class="col-sm-4">
                                                        <simple-object object-id="jTuCwkB"></simple-object>
                                        </div>
                        <div class="col-sm-4">
                                        <simple-object object-id="JARjh"></simple-object>
                        </div>
                        
                        <div class="col-sm-4">
                                                        <simple-object object-id="JsVPe"></simple-object>
                        </div>
        </div>
</div>
<div class="row">
        <!-- charts -->
        <div class="col-md-6">
                <!-- line -->
                <sense-object qlik-id="xfvKMP"></sense-object>
        </div>
        <div class="col-md-6">
                <!-- pie -->
                <sense-object qlik-id="PAppmU"></sense-object>
        </div>
</div>

<table-button table-id="rJFbvG" button-text="Show Details Table"></table-button>

