<div class="row">
        <!-- kpis -->
        <div class="col-md-4">
                        <simple-object object-id="jTuCwkB"></simple-object>
                </div>
        <div class="col-md-4">
                <simple-object object-id="JARjh"></simple-object>
        </div>
        
        <div class="col-md-4">
                        <simple-object object-id="JsVPe"></simple-object>
        </div>
</div>
<div class="row">
        <!-- charts -->
        <div class="col-md-6">
                <!-- line -->
                <sense-object qlik-id="xfvKMP"></sense-object>
        </div>
        <div class="col-md-6">
                <!-- pie -->
                <sense-object qlik-id="PAppmU"></sense-object>
        </div>
</div>

<!-- <table-button table-id="" button-text=""></table-button> -->

<div class="table-wrap text-center">
                <button ng-click="po.revealTable()" class="btn btn-primary">Show Details Table</button>
                <div uib-collapse="po.isCollapsed">
                        <div class="objectPlaceholder" id="qlikTable" ng-class="{'animateOut': po.animateNow}"></div>
                        <!-- <sense-object qlik-id="rJFbvG"></sense-object> -->
                </div>
</div>